@charset "UTF-8";

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 2500px;
  font-size: 18px;
  background-color: rgb(235, 233, 233);
}

a {
  color: white;
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

/*----------------------------------------start---------------------------------------------------*/

@mixin mixin_width() {
  max-width: 1200px;
  margin: 0px auto;
}

.wrap {
  @include mixin_width();
}

$mainColor: black;
$whiteColor: white;

header {
  z-index: 5;
  position: fixed;
  width: 100%;
  background-color: rgba(155, 157, 156, 0.424);

  .headerBox {
    display: flex;
    align-items: center;

    @include mixin_width();
    padding: 20px 20px;

    img {
      width: 156px;
    }

    .nav_list {
      display: flex;
      font-size: 18px;
      li {
        color: white;
        padding: 0px 0 0 20px;
      }
    }

    .sns_container {
      display: flex;
      padding-left: 20px;

      li {
        padding-left: 10px;
        text-align: center;
      }

      img {
        display: block;
        width: 30px;
      }
    }
  }
}
// ------------------------------hamburger---------------------------------------
.hamburger {
  display: none;
  div {
    width: 30px;
    height: 3px;
    margin: 5px;
    background-color: $whiteColor;
  }
  .line1.open {
    transform: rotate(-45deg) translate(-0.1rem, 0.3rem);
    transition: 0.5s;
  }
  .line2.open {
    display: none;
  }
  .line3.open {
    transform: rotate(45deg) translate(-0.3rem, -0.5rem);
    transition: 0.5s;
  }
}
// ------------------------------ SNS icon ---------------------------------------

.listContent {
  display: none;
  padding: 20px;
  padding-top: 0;
  line-height: 30px;
  font-size: 20px;
}

// --------------------------------illustration-------------------------------------------

.illustration {
  width: 100%;
  background-image: url(../img/dairiseki.jpg);
  height: 200vh;
  background-size: cover;
  background-repeat: no-repeat;
  .category {
    display: flex;
    justify-content: center;
    .category_picture {
      margin: 50px auto;
      .paddingL {
        padding-left: 15px;
      }
      img {
        height: 150px;
      }
      .category_title {
        text-align: center;
      }
    }
  }
}

// ----------------------------------- see through -----------------------------------------

.seeThrough {
  background-image: url(../img/backGroundimg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  .seeThroughBox {
    position: relative;
    height: 810px;

    .middle_h1_text {
      color: $whiteColor;
      border-radius: 4px;
      background-color: rgba(198, 186, 186, 0.131);
      text-align: center;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      left: 50%;
      width: 80%;
    }
  }
}

// ----------------------------------- menu -----------------------------------------

.menu {
  width: 100%;
  .menu_container {
    margin: 0 auto;
    h2 {
      text-align: center;
    }
    .cut {
      margin: 30px auto;
      display: flex;
      justify-content: space-evenly;
      .cutTitle {
        margin: 25px;
        font-weight: bold;
        font-size: 16px;
      }
      .cutPrice {
        margin: 25px;
        font-weight: bold;
        font-size: 16px;
      }
    }
  }
}

// ----------------------------------- SP -----------------------------------------
footer {
  width: 100%;
}

// ----------------------------------- SP -----------------------------------------
@media (max-width: 1158px) {
  header {
    background-color: rgba(60, 60, 60, 0.685);
    .headerBox {
      .sns_container {
        display: flex;
        padding-left: 20px;
        display: none;
      }
    }
  }
}

@media (max-width: 1040px) {
  body {
    font-size: 14px;
  }
  header {
    .hamburger {
      display: block;
    }
    nav {
      display: none;
    }
    .headerBox {
      justify-content: space-between;
    }
  }
}

@media (max-width: 640px) {
  .category {
    flex-direction: column;
  }
}
@media (max-width: 399px) {
  .cutPrice {
    margin-bottom: 35px;
  }
}
