@charset "UTF-8";

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans JP";
  width: 100%;
  background-image: url(../img/dairiseki.jpg);
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 18px;
  background-color: rgb(235, 233, 233);
}

a {
  color: white;
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

/*----------------------------------------start---------------------------------------------------*/

@mixin mixin_width() {
  max-width: 1200px;
  margin: 0px auto;
}

.wrap {
  @include mixin_width();
}

$mainColor: black;
$whiteColor: white;

header {
  z-index: 5;
  position: fixed;
  width: 100%;
  background-color: rgba(155, 157, 156, 0.424);

  .headerBox {
    display: flex;
    align-items: center;
    justify-content: center;
    @include mixin_width();
    padding: 20px 20px;

    h2 {
      color: $whiteColor;
      width: 220px;
    }

    .nav_list {
      display: flex;
      font-size: 18px;
      margin-left: 50px;
      li {
        color: white;
        padding: 0px 0 0 20px;
        a {
          &:hover {
            color: rgb(255, 255, 0);
          }
        }
      }
    }

    .icons {
      display: flex;
      padding-left: 20px;

      li {
        margin-left: 30px;
        text-align: center;
      }
      .email {
        width: 60px;
        border-radius: 4px;
        background-color: rgb(240, 0, 116);
      }
      .phone {
        width: 60px;
        border-radius: 4px;
        background-color: rgb(0, 237, 39);
      }

      img {
        display: block;
        width: 30px;
      }
    }
  }
}
// ------------------------------hamburger---------------------------------------
.hamburger {
  display: none;
  div {
    width: 30px;
    height: 3px;
    margin: 5px;
    background-color: $whiteColor;
  }
  .line1.open {
    transform: rotate(-45deg) translate(-0.1rem, 0.3rem);
    transition: 0.5s;
  }
  .line2.open {
    display: none;
  }
  .line3.open {
    transform: rotate(45deg) translate(-0.3rem, -0.5rem);
    transition: 0.5s;
  }
}
// ------------------------------ SNS icon ---------------------------------------

.listContent {
  display: none;
  padding: 20px;
  padding-top: 0;
  line-height: 30px;
  font-size: 20px;
}

// ----------------------------------- see through -----------------------------------------

.seeThrough {
  background-image: url(../img/barber.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  .seeThroughBox {
    position: relative;
    height: 810px;
    .middle_h1_text {
      color: $whiteColor;
      border-radius: 4px;
      background-color: rgba(198, 186, 186, 0.131);
      text-align: center;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      left: 50%;
      width: 80%;
    }
  }
}

// ----------------------------------- menu -----------------------------------------

.menu {
  width: 100%;
  margin: 120px auto;
  .menu_container {
    margin: 0 auto;
    h2 {
      font-size: 30px;
      text-align: center;
    }
    .cut {
      margin: 30px auto;
      display: flex;
      justify-content: space-evenly;
      .cutTitle {
        margin: 25px;
        font-weight: bold;
        font-size: 20px;
      }
      .cutPrice3 {
        margin: 25px;
        font-weight: bold;
        font-size: 20px;
      }
      .cutPrice {
        margin: 25px;
        font-weight: bold;
        font-size: 20px;
      }
    }
  }
}

// ----------------------------------- map -----------------------------------------
.google_map {
  width: 100%;
  h2 {
    font-size: 30px;
    text-align: center;
    margin: 40px auto;
  }
  .location {
    width: 40px;
  }
  .address {
    padding: 0 5px;
    text-align: center;
    margin: 40px auto;
    font-size: 18px;
  }
  .map {
    text-align: center;
    iframe {
      width: 90%;
      height: 50vh;
    }
  }
  a {
    display: block;
    color: $mainColor;
    text-align: center;
    text-decoration: underline;
  }
}

// ----------------------------------- hours -----------------------------------------
.hours {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 100px auto;
  h2 {
    margin: 30px;
    margin-top: 100px;
  }
  .daysBox {
    max-width: 350px;
    margin: 0 auto;
    .days {
      text-align: start;
      font-size: 20px;
      padding: 15px;
    }
  }
}

// ----------------------------------- contact -----------------------------------------
.contact {
  width: 100%;
  h2 {
    text-align: center;
    margin-top: 40px;
  }
  .form {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 30px 0;
    span {
      color: red;
    }
    .form1 {
      margin: 0 10px;
    }
    p {
      padding: 20px;
    }
    input {
      padding-left: 10px;
      width: 100%;
      height: 30px;
    }
    .message {
      margin-top: 20px;
    }
    textarea {
      padding-left: 10px;
      margin-top: 20px;
      width: 90%;
    }
    .button {
      cursor: pointer;
      width: 90%;
      margin: 10px auto;
      border-radius: 5px;
      background-color: rgba(0, 255, 30, 0.403);
      &:hover {
        background-color: rgba(0, 255, 30, 0.811);
      }
    }
  }
}
// ----------------------------------- footer -----------------------------------------
.footerBox {
  p {
    text-align: center;
    font-size: 12px;
  }
  .footer_sns {
    display: none;
  }
}
// ----------------------------------- SP -----------------------------------------

@media (max-width: 950px) {
  body {
    font-size: 14px;
    header {
      background-color: rgba(60, 60, 60, 0.685);
      .hamburger {
        cursor: pointer;
        display: block;
      }
      nav {
        display: none;
      }
      .headerBox {
        justify-content: space-between;
        .icons {
          display: none;
        }
      }
    }
    footer {
      width: 100%;
      .footerBox {
        height: 75px;
        border: 1px solid #000;
        .footer_sns {
          position: fixed;
          bottom: 0;
          left: 0;
          width: 100%;
          display: flex;
          justify-content: space-around;
          height: 50px;
          a {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .emailBox {
            border: 1px solid #000;
            background-color: rgb(240, 0, 116);
          }
          .phoneBox {
            border: 1px solid #000;
            background-color: rgb(0, 237, 39);
          }
          li {
            i {
              font-size: 24px;
            }
          }
          img {
            display: block;
            width: 30px;
            margin: 10px auto;
          }
        }
      }
    }
  }
}

@media (max-width: 940px) {
  .seeThrough {
    height: 80vh;
    .seeThroughBox {
      .middle_h1_text {
        top: 40%;
      }
    }
  }
}

@media (max-width: 473px) {
  .menu {
    margin-bottom: 30px;
    .menu_container {
      h2 {
        font-size: 20px;
      }
      .cut {
        .cutTitle {
          font-size: 12px;
        }
        .cutPrice3 {
          font-size: 12px;
        }
        .cutPrice {
          font-size: 12px;
        }
      }
    }
  }
  .google_map {
    h2 {
      font-size: 20px;
    }
    .map {
      iframe {
        width: 90%;
        height: 30vh;
      }
    }
  }
  .contact {
    .form {
      flex-direction: column;
      span {
        color: red;
      }
      input {
        padding-left: 10px;
        width: 70%;
      }
      textarea {
        padding-left: 10px;
        width: 70%;
      }
      .button {
        width: 70%;
      }
    }
  }
}
