* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans JP";
  width: 100%;
  background-image: url(../img/dairiseki.jpg);
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 18px;
  background-color: rgb(235, 233, 233);
}

a {
  color: white;
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

/*----------------------------------------start---------------------------------------------------*/
.wrap {
  max-width: 1200px;
  margin: 0px auto;
}

header {
  z-index: 5;
  position: fixed;
  width: 100%;
  background-color: rgba(155, 157, 156, 0.424);
}
header .headerBox {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0px auto;
  padding: 20px 20px;
}
header .headerBox h2 {
  color: white;
  width: 220px;
}
header .headerBox .nav_list {
  display: flex;
  font-size: 18px;
  margin-left: 50px;
}
header .headerBox .nav_list li {
  color: white;
  padding: 0px 0 0 20px;
}
header .headerBox .nav_list li a:hover {
  color: rgb(255, 255, 0);
}
header .headerBox .icons {
  display: flex;
  padding-left: 20px;
}
header .headerBox .icons li {
  margin-left: 30px;
  text-align: center;
}
header .headerBox .icons .email {
  width: 60px;
  border-radius: 4px;
  background-color: rgb(240, 0, 116);
}
header .headerBox .icons .phone {
  width: 60px;
  border-radius: 4px;
  background-color: rgb(0, 237, 39);
}
header .headerBox .icons img {
  display: block;
  width: 30px;
}

.hamburger {
  display: none;
}
.hamburger div {
  width: 30px;
  height: 3px;
  margin: 5px;
  background-color: white;
}
.hamburger .line1.open {
  transform: rotate(-45deg) translate(-0.1rem, 0.3rem);
  transition: 0.5s;
}
.hamburger .line2.open {
  display: none;
}
.hamburger .line3.open {
  transform: rotate(45deg) translate(-0.3rem, -0.5rem);
  transition: 0.5s;
}

.listContent {
  display: none;
  padding: 20px;
  padding-top: 0;
  line-height: 30px;
  font-size: 20px;
}

.seeThrough {
  background-image: url(../img/barbershop-g4906e9660_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.seeThrough .seeThroughBox {
  position: relative;
  height: 810px;
}
.seeThrough .seeThroughBox .middle_h1_text {
  color: white;
  border-radius: 4px;
  background-color: rgba(198, 186, 186, 0.131);
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 80%;
}

.menu {
  width: 100%;
  margin: 120px auto;
}
.menu .menu_container {
  margin: 0 auto;
}
.menu .menu_container h2 {
  font-size: 30px;
  text-align: center;
}
.menu .menu_container .cut {
  margin: 30px auto;
  display: flex;
  justify-content: space-evenly;
}
.menu .menu_container .cut .cutTitle {
  margin: 25px;
  font-weight: bold;
  font-size: 20px;
}
.menu .menu_container .cut .cutPrice3 {
  margin: 25px;
  font-weight: bold;
  font-size: 20px;
}
.menu .menu_container .cut .cutPrice {
  margin: 25px;
  font-weight: bold;
  font-size: 20px;
}

.google_map {
  width: 100%;
}
.google_map h2 {
  font-size: 30px;
  text-align: center;
  margin: 40px auto;
}
.google_map .location {
  width: 40px;
}
.google_map .address {
  padding: 0 5px;
  text-align: center;
  margin: 40px auto;
  font-size: 18px;
}
.google_map .map {
  text-align: center;
}
.google_map .map iframe {
  width: 90%;
  height: 50vh;
}
.google_map a {
  display: block;
  color: black;
  text-align: center;
  text-decoration: underline;
}

.hours {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 100px auto;
}
.hours h2 {
  margin: 30px;
  margin-top: 100px;
}
.hours .daysBox {
  max-width: 350px;
  margin: 0 auto;
}
.hours .daysBox .days {
  text-align: start;
  font-size: 20px;
  padding: 15px;
}

.contact {
  width: 100%;
}
.contact h2 {
  text-align: center;
  margin-top: 40px;
}
.contact .form {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 30px 0;
}
.contact .form .form1 {
  margin: 0 10px;
}
.contact .form p {
  padding: 20px;
}
.contact .form input {
  padding-left: 10px;
  width: 100%;
  height: 30px;
}
.contact .form .message {
  margin-top: 20px;
}
.contact .form textarea {
  padding-left: 10px;
  margin-top: 20px;
  width: 90%;
}
.contact .form .button {
  cursor: pointer;
  width: 90%;
  margin: 10px auto;
  border-radius: 5px;
  background-color: rgba(0, 255, 30, 0.403);
}
.contact .form .button:hover {
  border: 0.2px solid #000;
  background-color: rgba(0, 255, 30, 0.811);
}

.footerBox p {
  text-align: center;
  font-size: 12px;
}
.footerBox .footer_sns {
  display: none;
}

@media (max-width: 950px) {
  body {
    font-size: 14px;
  }
  body header {
    background-color: rgba(60, 60, 60, 0.685);
  }
  body header .hamburger {
    cursor: pointer;
    display: block;
  }
  body header nav {
    display: none;
  }
  body header .headerBox {
    justify-content: space-between;
  }
  body header .headerBox .icons {
    display: none;
  }
  body footer {
    width: 100%;
  }
  body footer .footerBox {
    height: 75px;
    border: 1px solid #000;
  }
  body footer .footerBox .footer_sns {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 50px;
  }
  body footer .footerBox .footer_sns a {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body footer .footerBox .footer_sns .emailBox {
    border: 1px solid #000;
    background-color: rgb(240, 0, 116);
  }
  body footer .footerBox .footer_sns .phoneBox {
    border: 1px solid #000;
    background-color: rgb(0, 237, 39);
  }
  body footer .footerBox .footer_sns li i {
    font-size: 24px;
  }
  body footer .footerBox .footer_sns img {
    display: block;
    width: 30px;
    margin: 10px auto;
  }
}
@media (max-width: 940px) {
  .seeThrough {
    height: 80vh;
  }
  .seeThrough .seeThroughBox .middle_h1_text {
    top: 40%;
  }
}
@media (max-width: 473px) {
  .menu {
    margin-bottom: 30px;
  }
  .menu .menu_container h2 {
    font-size: 20px;
  }
  .menu .menu_container .cut .cutTitle {
    font-size: 12px;
  }
  .menu .menu_container .cut .cutPrice3 {
    font-size: 12px;
  }
  .menu .menu_container .cut .cutPrice {
    font-size: 12px;
  }
  .google_map h2 {
    font-size: 20px;
  }
  .google_map .map iframe {
    width: 90%;
    height: 30vh;
  }
  .contact .form {
    flex-direction: column;
  }
  .contact .form span {
    color: red;
  }
  .contact .form input {
    padding-left: 10px;
    width: 70%;
  }
  .contact .form textarea {
    padding-left: 10px;
    width: 70%;
  }
  .contact .form .button {
    width: 70%;
  }
}/*# sourceMappingURL=style.css.map */